body {
  background-color: #2d3250;
}
main {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 89vh;
  background-image: linear-gradient(#858cb4, #4b5070, #2d3250);
}
.welcome {
  width: 40%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.arabic-title,
.english-title {
  font-size: 3rem;
}
.arabic-title {
  text-align: right;
}
.welcome-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: 89vh;
  border-radius: 0px 0px 5px 1000px;
  background-image: url("../assets/camilo-jimenez-0yLmwcXLwLw-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: top top;
  background-size: cover;
}
.box-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 6rem;
  margin-top: 6rem;
  color: #f09850;
  background-color: #424769;
}
.box-cards {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f09850;
  width: 300px;
  height: 400px;
  background-color: #7077a1;
  margin-bottom: 20px;
  border-radius: 0px 60px 0px 60px;
  transition: border-radius 0.3s 0s ease, rotate 0.2s 0s ease,
    box-shadow 0.2s 0s ease;
}
.card img {
  border-radius: 0px 60px 0px 0px;
  transition: border-radius 0.3s 0s ease;
}
.card h2 {
  font-size: 1.7rem;
  width: 100%;
  text-align: center;
  margin: 0px 0px 2rem 0px;
  background-color: #2d3250;
  transition: font-size 0.3s 0s ease, background-color 0.3s 0s ease,
    color 0.3s 0s ease;
  cursor: pointer;
  user-select: none;
}
p {
  text-align: center;
}
.card:hover {
  border-radius: 15px;
  box-shadow: 5px 5px 13px #858cb4, -5px -5px 13px #858cb4;
}
.card:hover img {
  border-radius: 15px 15px 0px 0px;
}
.card:hover h2 {
  font-size: 2rem;
  background-color: #f09850;
  color: #2d3250;
}
