@media (max-width: 1025px) {
  .arabic-title,
  .english-title,
  .arabic-title span,
  .english-title span {
    font-size: 1.5rem;
  }
  .english-title > span:first-child {
    font-size: 2.5rem;
  }
  .line {
    height: 3px;
  }
  .box-title,
  .about-title {
    font-size: 2.2rem;
  }
  .card {
    width: 250px;
    height: 350px;
  }
  .card h2 {
    font-size: 1.4rem;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card:hover h2 {
    font-size: 1.7rem;
  }
  .card ol li {
    font-size: 1rem;
  }
  .box-title::after {
    background-color: #fff;
  }
  nav ul a li {
    font-size: 1rem;
  }
  nav ul a,
  .drop-head {
    font-size: 1rem;
  }
  .contact-btn {
    width: 150px;
    height: 45px;
    font-size: 1.2rem;
  }
  #footer p {
    font-size: 1rem;
  }
  .footer div a svg {
    width: 35px;
  }
  #footer {
    width: 1020px;
  }
}
@media (max-width: 1000px) {
  #footer {
    width: 1000px;
  }
}
@media (max-width: 769px) {
  .arabic-title,
  .english-title,
  .arabic-title span,
  .english-title span {
    font-size: 1.5rem;
  }
  .english-title > span:first-child {
    font-size: 2.5rem;
  }
  .line {
    height: 3px;
  }
  .box-title,
  .about-title {
    font-size: 2.2rem;
  }
  .card {
    width: 250px;
    height: 350px;
  }
  .card h2 {
    font-size: 1.4rem;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card:hover h2 {
    font-size: 1.7rem;
  }
  .card ol li {
    font-size: 1rem;
  }
  .box-title::after {
    background-color: #fff;
  }
  nav ul a li {
    font-size: 1rem;
  }
  nav ul a,
  .drop-head {
    font-size: 1rem;
  }
  .contact-btn {
    width: 150px;
    height: 45px;
    font-size: 1.2rem;
  }
  #footer {
    width: 1000px;
  }
  #footer p {
    font-size: 1rem;
  }
  .footer div a svg {
    width: 35px;
  }
}
@media (max-width: 499px) {
  .box-cards .card {
    margin-bottom: 100px;
  }
  .about-title-background {
    width: 60%;
  }
  .about-title {
    font-size: 2.2rem;
  }
  .about-card h2 {
    font-size: 2.2rem;
  }
  .about-card p {
    font-size: 1.3rem;
  }
}
